<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center mb-1">
                <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/8381485-colore-famille-logo-heureux-parents-et-enfant-logo-design-vectoriel.jpg" width="260px" height="200px">
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center align-items-center mb-3">
                <h4>
                    Créer ou configurer les familles
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <p>
                    Pour créer des tuteurs pour vos étudiants,
                     vous devez accéder à l'aperçu du profil des étudiants et
                    ajouter leurs tuteurs depuis la section située sous leur photo de profil.
                    Lorsque vous le faites, vous aurez une liste de tuteurs ici.
                    Vous pourrez envoyer des messages en masse, créer des frais, etc...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <button type="button" class="btn m-2" id="btn-go-to-student">
                    <a href="/Eleve" id="link-go-to-student">
                        Aller à la section élèves
                    </a>
                </button>
                <button type="button" class="btn btn-info m-2">Plus d'infos</button>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

