<div class="dashboard">
    <app-sidebare></app-sidebare>
    <div class="content">
        <p id="textDashboard">
            Calendrier
        </p>
        <div class="info-container">
            <div class= "container">
                <div class="calendar">
                    <div class="header">
                        <button (click)="prevMonth()">Previous</button>
                        <h2>{{ currentMonth | date: 'MMMM yyyy' }}</h2>
                        <button (click)="nextMonth()">Next</button>
                    </div>
                    <div class="days">
                        <div *ngFor="let day of days" class="day">{{ day }}</div>
                    </div>
                    <div class="dates">
                        <div *ngFor="let calendarDay of calendarDays" class="date" [class.empty]="!calendarDay.day">
                            {{ calendarDay.day }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>