<div class="dashboard">
    <app-sidebare></app-sidebare>
    <div class="content">
        <p id="textDashboard">
            Calendrier
        </p>
        <div class="info-container">
            <div class="container">
                <div *ngIf="planning">
                    <h1>{{ planning.name }}</h1>
                    <p>Statut: {{ planning.statut }}</p>
                    <p>Commentaires: {{ planning.commentaires }}</p>
                    <p>Autres: {{ planning.autres }}</p>

                    <h2>PDF:</h2>
                    <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>