/* ----------------------------- */
/* popup.component.css */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* ---------------------------------- */

.card{
  font-size: 12px;
}
.table-editable{
  max-height: 200px; /* Ajustez cette valeur selon vos besoins */
  overflow-y: auto;
}
.table-editable-2{
  max-height: 100px; /* Ajustez cette valeur selon vos besoins */
  overflow-y: auto;
}
// -------------------- Barre de recherche ----------------------------------
#div-search-filter{
    height: 80px;
    background-color: #ECEFEB;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #333; /* Couleur de l'icône */
    font-size: 0; /* Masque le texte */
}

#input-search-class{
    background: none;
    border: none;
    outline: none;
    width: 150px;
}

/* --------------------------------------------------------------------------------------------------- */
/* style de la pagination  */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}