
.dashboard {
    display: flex;
    height: auto; /* Ajout de la hauteur pour que le conteneur s'étende sur toute la page */
}

.content {
    flex: 1;
    width: 81%;
    background-color: #006550!important;
    display: flex;
    flex-direction: column;
}

/* Media query pour écran réduit */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }
    .content {
        width: 100%; /* Les éléments prennent toute la largeur de l'écran réduit */
    }

}

#textDashboard {
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}

.info-container {
    background-color: #fff; /* Fond blanc */
    border-radius: 10px; /* Ajout du border-radius pour les coins arrondis */
    margin: 25px; /* Ajout d'un espace intérieur pour le contenu de la div */
    flex: 1;
    /* padding: 0 1cm; */ /* ce padding créé un espace en les deux extremités à l interieur de la div*/
}
#libelle-list{

}
#div-search-filter{
    height: 80px;
    background-color: #ECEFEB;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #333; /* Couleur de l'icône */
    font-size: 0; /* Masque le texte */
}

#input-search-class{
    background: none;
    border: none;
    outline: none;
    width: 150px;
}

#add-class{
    cursor: pointer; /* Cette propriété permet d'avoir un curseur  icône de main à la place de la souris  */
    border: 1px solid;
    margin: 8px;
    border-radius: 5px;
    /* height: 140px; "Je l'ai mis en commentaire, à voir si ça a un impact ou non !" */
    width: 95%;
}
#cours-list{
    cursor: pointer; /* Cette propriété permet d'avoir un curseur  icône de main à la place de la souris  */
    border: 1px solid;
    margin: 8px;
    border-radius: 5px;
    width: 95%;
}
/*------------------------------------- popup.component.css ------------------------------------------*/
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* --------------------------------------------------------------------------------------------------- */