
.sidebar {
    background-color: #0E1B21 !important;
    color: white;
    width: 250px;
    height: 100vh; /* Prend toute la hauteur visible de la fenêtre */
    position: sticky; /* rendre le sidebare static ne bouge pas même si on scrolle */
    top: 0; /* rendre le sidebare static ne bouge pas même si on scrolle */
}

/* Media query pour écran réduit */
@media (max-width: 768px) {
    .sidebar{
        width: 100%;
    }
}
#les-icones-sidebars{
    margin-left:20px;
    text-decoration:none;
    color:white;
}
#libelle-icone{
    text-decoration:none;
    color:white;
}
#libelle-icone-classes{
    text-decoration:none;
    color:white;
}
#username{
    margin-left: 15px;
    font-size: 13px;
}

