<div class="dashboard">
    <app-sidebare></app-sidebare>
    <div class="content">
        <p id="textDashboard">
            Presence
        </p>
        <div class="info-container">
            <div class= "container">
                <div class="row">
                    <div class="col-sm-4">
                        Filters
                    </div>
                    <div class="col-8">
                        Jeudi 10/08/2023
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>