<div class="dashboard">
    <app-sidebare></app-sidebare>
    <div class="content">
        <p id="textDashboard">
            Presence
        </p>
        <div class="info-container">
            <div class= "container">
                <div class="row">
                    <div class="tabbed-content">
                        <div class="tabs">
                            <div
                                    class="tab"
                                    *ngFor="let tab of tabs"
                                    [class.active]="tab === activeTab"
                                    (click)="setActiveTab(tab)"
                            >
                                {{ tab }}
                            </div>
                        </div>
                        <div class="contentt">
                            <!-- Contenu de l'onglet 1 -->
                            <div *ngIf="activeTab === 'Liste des séances'">
                                <app-onglet-seance></app-onglet-seance>
                            </div>

                            <!-- Contenu de l'onglet 2 -->
                            <div *ngIf="activeTab === 'Gestion des présences'">
                                <app-onglet-presence></app-onglet-presence>
                            </div>

                            <!-- Contenu de l'onglet 3 -->
                            <div *ngIf="activeTab === 'Actions'">
                                Contenu de l'onglet Actions
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>