<div class="dashboard">
    <app-sidebare></app-sidebare>
    <div class="content">
        <p id="textDashboard">
            Matières
        </p>
        <div class="info-container">
            <div class= "container">

                <div class="row">

                    <div class="col-1">
                        <button type="button" class="btn btn-success m-3" (click)="openPopup()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                        </button>
                    </div>

                    <div class="col-1">
                        <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle m-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371zm1.57-.785L11 2.687h-.047l-.652 2.157z"/>
                                    <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293z"/>
                                </svg>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Cours">Trier par Classe</a>
                                <a class="dropdown-item" href="/Cours">Trier par Nom</a>
                                <a class="dropdown-item" href="/Cours">Trier par Date</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-15j76c0">
                    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-1k3q5ab">
                        <div class="MuiTableContainer-root css-939q39">
                            <table class="MuiTable-root css-10y3fr9" aria-label="table in dashboard">
                                <thead class="MuiTableHead-root css-ucz4w7">
                                <tr class="MuiTableRow-root MuiTableRow-head css-1a1fzdj">
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Nom</th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Heures/Semaine</th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Coefficient</th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Type</th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Autres</th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Couleur</th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-18drrcl" scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody class="MuiTableBody-root css-ceeiht">
                                <tr class="MuiTableRow-root MuiTableRow-hover css-lfnorv" *ngFor="let course of courseData">
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-2x20pz">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <p class="MuiTypography-root MuiTypography-body1 css-1muldh">{{course.name}} </p>
                                            <span class="MuiTypography-root MuiTypography-caption css-hy29ye">{{course.code}} - {{course.description}}</span>
                                        </div>
                                    </td>
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-11u1jp0">{{course.hoursByWeek}}</td>
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-11u1jp0">{{course.credits}}</td>
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-11u1jp0">{{course.type}}</td>
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-11u1jp0">{{course.subject}}</td>
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-11u1jp0">
                                        <div class="MuiChip-root MuiChip-filled MuiChip-sizeMedium MuiChip-colorPrimary MuiChip-filledPrimary css-lvr0df">
                                            <span class="MuiChip-label MuiChip-labelMedium css-14vsv3w">{{course.color}}</span>
                                        </div>
                                    </td>
                                    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-11u1jp0">
                                        <div class="row">
                                            <div class="col-1">
                                                <a type="button" style="text-decoration: none" class="m-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a type="button" style="text-decoration: none" class="m-2" (click)="selectCourseToDelete(course)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>




<!----------------------------------- Debut PopUp Ajout d'un cours --------------------------------->
<!-- Pop up pour ajouter une classe -->
<div class="background-overlay" *ngIf="isPopupOpen" (close)="closePopup()"></div>
<div class="popup-container" *ngIf="isPopupOpen" (close)="closePopup()">
    <form class="form">
        <p class="title">Ajouter une matière </p>
        <p class="message">Remplisser le formulaire ci-dessous afin d'ajouter la nouvelle matière. </p>
        <div class="flex">
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.name" placeholder="" type="text" class="input">
                <span>Nom</span>
            </label>
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.type" placeholder="" type="text" class="input">
                <span>Type</span>
            </label>
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.code" placeholder="" type="text" class="input">
                <span>Code</span>
            </label>
        </div>
        <div class="flex">
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.description" placeholder="" type="text" class="input">
                <span>Description</span>
            </label>
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.subject" placeholder="" type="text" class="input">
                <span>Classe</span>
            </label>
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.credits" placeholder="" type="text" class="input">
                <span>Coefficient </span>
            </label>
        </div>
        <div class="flex">
            <label>
                <input required="" [(ngModel)]="coursService.CourseModel.courseDto.hoursByWeek" placeholder="" type="text" class="input">
                <span>Heures par semaine</span>
            </label>
            <label>
                <select [(ngModel)]="coursService.CourseModel.courseDto.color" class="input" aria-label="Default select example">
                    <option disabled selected>Choisissez une couleur</option>
                    <option value="1" >Rouge</option>
                    <option value="2">Vert</option>
                    <option value="3">Bleu</option>
                    <option value="3">Jaune</option>
                    <option value="3">Violet</option>
                </select>
                <span>Choisissez une couleur</span>
            </label>
        </div>
        <div class="flex">
            <button class="submit" (click)="onSubmit()">Ajouter</button>
            <button class="closebutton" *ngIf="isPopupOpen" (click)="closePopup()">Annuler</button>
        </div>
    </form>
</div>
<!---------------------------------- Fin pop up Ajout d'un cours ----------------------------------->